*{
    font-family: 'Press Start 2P', cursive;
    background-color: aquamarine;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Press Start 2P', cursive;
    grid-template-columns: 1fr;
	grid-template-rows: 10vh 60vh 20vh 10vh;
    grid-template-areas:"nav" "main" "aside" "footer";
}

p, td, th{
    font-size: 2rem;
}

h2{
    font-size: 3.5rem;
}

aside{
    grid-area:"aside";
}

main{
    grid-area: main;
}

nav{
    grid-area: "nav";
}

footer{
    grid-area: footer;
}

header{
    line-height: 4.4rem;
}
    header h1{
        font-size: 4.2rem;
    }
    header a{
        font-size: 3rem;
        text-decoration: none;
    }
    header li{
        list-style:none;
    }

footer{
    line-height: 4.4rem;
    grid-area: "footer";
}
    footer a{
        font-size: 3rem;
        text-decoration: none;
    }

.btn-submit:hover{
    transform: scale(1.0,1.0);
    cursor: pointer;
    transition: 1ms;
}

.container{
    display: grid;
    align-items: center;
}

/* Header */
    .menu__box--principal nav{
    position: static;
    box-sizing: border-box;
}
    .menu__box--principal nav img{
        height: 5%;
        width: 5%;
        padding-left:5%;
        padding-top: 5%;
    }
    .menu__box--principal nav ul{
        display: inline-block;
    }
        .menu__box--principal nav ul li{
           display:grid;
        }

        .menu__box--principal nav ul li a{
            font-size: 1rem;
            padding-right: 10px;
            border: 5px;
            padding: 10px;
            border-style:ridge;
        }
    /* Main -- Freelance */
.contacto__box--preguntas{
    width: 100%;
    border: 5px;
    border-style: dotted;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.contacto__box--preguntas h2{
    text-align: center;
}

.contacto__box--preguntas table{
    margin: auto;
}

/* Main Tabla de mi stack y frontend dev*/
#tabla__box--stack{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

    #tabla__box--stack iframe{
        width: 100%;
    }

    #tabla__box--stack img{
        width: 10rem;
        height: 10rem;
        background-image: none;
    }

        #tabla__box--stack table, #tabla__box--stack h2{
            margin: auto;
        }

/* Main -- Github */
.contacto__box--repositorio{
    width: 100%;
    border: 5px;
    border-style: dotted;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.contacto__box--repositorio h2{
    text-align: center;
}

.contacto__box--repositorio table{
    margin: auto;
}

/* Footer */
.pie__box--twitter{
    width: 100%;
    height: 100px;
}
.pie__box--twitter h2{
    font-size: 2rem;
    padding: 2rem;
    line-height: 0%;
}
.pie__box--twitter a{
    padding-left: 10px;
}

.pie__box--twitter img{
    width: 40px;
    height: 40px;
    padding-left: 10px;
}

.menu-ani:hover{
    transform: translate(10px,-10px);
	cursor: pointer;
}

@media only screen and (min-width: 768px){
    body{
        grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 10vh 85vh 5vh;
        grid-template-areas: "nav nav nav"
        "main main aside" "footer footer footer";
    }

    .menu__box--principal nav ul li{
        display:inline-flex;
     }
}
